@font-face {
  font-family: roboto;
  src: url(font-roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url(font-roboto/Roboto-Light.ttf);
}

body {
  font-family: roboto, Arial, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 16%;
  border: 0;
  padding: 8px 16px;
}

.header, .introduction {
  background-color: #1f2937;
}

.header,
.introduction,
.info,
.quote,
.call-to-action,
.footer {
  padding: 0 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.header-logo {
  font-weight: bold;
  color: #f9faf8;
  font-size: 24px;
}

.introduction {
  display: flex;
  padding: 64px;
  gap: 32px;
}

.intro-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-right: auto;
}

